# Ignore model inferences


# Ignore python cache
.pycache/
__pycache__/
*.DS_Store

# Ignore data files
*.h5
model_inferences/cochldb.2.15.230316_v8_22050_Ensemble_Distill_cochldb.2.15.230316_v8_Ensemble_Distill_22050_model_pre.h5
model_inferences/cochldb.2.15.230316_v8_22050_Ensemble_Distill_cochldb.2.15.230316_v8_Ensemble_Distill_22050_result_230615-test_model_main.h5
*.wav
*.mp3
*.mp4
*.csv
*.json
*.txt
*.tsv


# Ignore model files
*.pb
*.pbtxt
*.ckpt
*.ckpt.*
*.meta
*.index