# Ignore model inferences


# Ignore python cache
.pycache/
__pycache__/

# Ignore data files
*.h5
*.wav
*.mp3
*.mp4
*.csv
*.json
*.txt
*.tsv

# Ignore model files
*.pb
*.pbtxt
*.ckpt
*.ckpt.*
*.meta
*.index